<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is an EJS file</h1>
<big>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit accusantium blanditiis autem, doloribus placeat aliquam veniam. Vitae eligendi consectetur repellat quae? Quo quae doloremque iure a minima ducimus! Dolorem, voluptatum.</big>
</body>
</html>